*{
    border-style: border-box;
}

body {
    background-color: #ededed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header {
    background-color: royalblue;
    padding: 25px;
}

main {
    margin: 15px 0;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

#timer {
    text-align: center;
    margin: 50px 45% 0 45%;
    background-color: royalblue;
    padding: 10px;
}