*{
    border-style: border-box;
}

body {
    background-color: #ededed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header {
    background-image: linear-gradient(to bottom right, royalblue, rgb(172, 113, 201));
    padding: 25px;
    border-radius: 15px;
}

main {
    margin: 15px 0;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

button {
    background-color: rgba(30, 186, 155, 0.75);
    padding: 12px;
    border-radius: 4px;
    margin: 8px;
    font-family: Verdana;
    font-weight: bold;
    box-shadow: 3px 3px 8px rgba(128, 128, 128, 50);
}

td, th {
    padding-left: 10px;
}

#timer {
    text-align: center;
    margin: 50px 45% 0 45%;
    /* background-color: royalblue; */
    background-image: linear-gradient(to bottom right, royalblue, rgb(172, 113, 201));
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 8px rgba(128, 128, 128, 50);
}

#try-again {
    padding-top: 5px;
    margin-top: 20px;
    border-top: 2px solid rgba(0, 0, 0, 0.6);
}

